body {
    background-color: WhiteSmoke;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.announcement-bar {
    background-color: rgba(255, 202, 190, 0.5);
    color: rgb(77, 0, 50);
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
.jumbotron {
    background: url('images/bg_candle.webp') center center;
    background-size: cover;
    position: relative;
    height: 500px;
    color: white;
    text-align: center;
}
.jumbotron-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.jumbotron-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.btn {
    padding: 14px;
    background-color: rgba(255, 202, 190, 0.9);
    color: black;
    border: 2px solid transparent;
}
.btn.focus, .btn:focus {
    outline: none;
    border: 2px solid rgba(255, 202, 190, 0.9);
    text-decoration: none;
}    
.btn:hover {
    color: white;
    border: 2px solid rgba(255, 202, 190, 0.5);
    background-color: transparent;
}
.navbar {
    text-align: center;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}
.sticky-wrapper {
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    z-index: 1000; 
}
/* Ensure the heading is still visible when navbar is collapsed */
.sticky-wrapper .container {
    position: relative;
    z-index: 1;
}
.zoom-effect {
    overflow: hidden;
}
.zoom-effect img {
    transition: transform 0.3s;
}
.zoom-effect:hover img {
    transform: scale(1.1);
}
.dropdown-menu{
    background-color: whitesmoke;
}
.nav-item{
    font-weight:600;
}
.dropdown-item{
    color:rgb(77, 0, 50);
    font-size: smaller;
    padding-right: 2rem;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.pink{
    background-color: rgba(255, 202, 190, 0.5);
}
.image-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}
.image-container img {
    width: 100%;
    height: auto;
    display: block;
}
.card a{
    text-decoration: none;
    color: black;
}
.footer {
    background-color: #f8f9fa;
    padding: 30px 0;
}
.footer-columns {
    display: flex;
    justify-content: space-between;
}
.footer-column {
    flex: 0 0 30%;
}
.footer-heading {
    font-size: 16px;
    font-weight: bold;
}
.footer-subheading {
    font-size: 12px;
    color: #6c757d;
}
.social-icons {
    display: flex;
    align-items: center;
}
.social-icon {
    margin-right: 15px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    font-size: 20px;
}